<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/home" class="logo">ParisCitizen</a>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Connexion</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Inscription</a></li>
      <li *ngIf="isAuthenticated()">
        <a href="#" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Contenu principal -->
<main>
<router-outlet></router-outlet>
</main>










